<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.administrator.jipinshop">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--需要动态申请的权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--友盟需要-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_LOGS"
                     tools:ignore="ProtectedPermissions"/>

    <!--蒲公英需要-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        tools:replace="android:allowBackup"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--华为手机8.0：刘海屏适配-->
        <meta-data android:name="android.notch_support" android:value="true"/>
        <!--小米手机8.0：刘海屏适配（有状态栏时默认是使用耳朵区的）-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>
        <!--适配超宽屏（全面屏） 注意：小米手机有刘海屏的基本都是全面屏-->
        <meta-data android:name="android.max_aspect"
                   android:value="2.2"/>
        <!--欢迎页-->
        <activity
            android:name=".activity.wellcome.WellComeActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="index"
                    android:scheme="jipincheng" />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!--首页-->
        <activity android:name=".activity.home.MainActivity"
                  android:screenOrientation="portrait"/>

        <!--搜索页面-->
        <activity
            android:name=".activity.sreach.SreachActivity"
            android:screenOrientation="portrait"/>

        <!--商品详情页-->
        <activity
            android:name=".activity.shoppingdetail.ShoppingDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--评论列表-->
        <activity android:name=".activity.commenlist.CommenListActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--登陆页面-->
        <activity android:name=".activity.login.LoginActivity"
                  android:screenOrientation="portrait"/>

        <!--绑定手机号-->
        <activity android:name=".activity.info.bind.BindNumberActivity"
                  android:screenOrientation="portrait"/>

        <!--系统消息-->
        <activity android:name=".activity.message.MessageActivity"
                  android:screenOrientation="portrait"/>

        <!--设置页面-->
        <activity android:name=".activity.setting.SettingActivity"
                  android:screenOrientation="portrait"/>

        <!--我要反馈-->
        <activity android:name=".activity.setting.opinion.OpinionActivity"
                  android:screenOrientation="portrait"/>

        <!--收藏页面-->
        <activity android:name=".activity.foval.FovalActivity"
                  android:screenOrientation="portrait"/>

        <!--我的关注-->
        <activity android:name=".activity.follow.FollowActivity"
                  android:screenOrientation="portrait"/>

        <!--积分明细-->
        <activity android:name=".activity.sign.detail.IntegralDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--我的资料页面-->
        <activity android:name=".activity.info.MyInfoActivity"
                  android:screenOrientation="portrait"/>

        <!--修改昵称-->
        <activity android:name=".activity.info.editname.EditNameActivity"
                  android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--搜索结果页-->
        <activity android:name=".activity.sreach.result.SreachResultActivity"
                  android:screenOrientation="portrait"/>


        <!--以下是友盟需要-->
        <!--新浪-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:exported="false"
                  android:windowSoftInputMode="adjustResize"
            >

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107605787" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!--极光服务-->
        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="false"
            android:exported="false"
            tools:node="replace">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <receiver
            android:name=".jpush.JPushAliasAndTagReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--签到页面-->
        <activity android:name=".activity.sign.SignActivity"
                  android:screenOrientation="portrait"/>

        <!--发现、评测详情-->
        <activity android:name=".activity.home.article.ArticleDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--引导页-->
        <activity android:name=".activity.wellcome.IndexActivity"
                  android:screenOrientation="portrait"/>

        <!--公用的webView-->
        <activity android:name=".activity.WebActivity"
                  android:screenOrientation="portrait"/>

        <!--蒲公英需要-->
        <provider
            android:name="com.pgyersdk.PgyerProvider"
            android:authorities="${applicationId}.com.pgyer.provider"
            android:exported="false"/>
        <!--蛋鸡管家：1422866def864a7c57b56d6ff9d29257-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="d850a3451515099b6d0054728d0e9d13" >
        </meta-data>

        <!--系统消息详情页-->
        <activity android:name=".activity.message.detail.MsgDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--账户管理页-->
        <activity android:name=".activity.info.account.AccountManageActivity"
                  android:screenOrientation="portrait"/>

        <!--更换手机号页-->
        <activity android:name=".activity.info.account.change.ChangePhoneActivity"
                  android:screenOrientation="portrait"/>

        <!--更换手机号页2-->
        <activity android:name=".activity.info.account.change.ChangePhone2Activity"
                  android:screenOrientation="portrait"/>

        <!--收货地址页面-->
        <activity android:name=".activity.address.MyAddressActivity"
                  android:screenOrientation="portrait"/>

        <!--新增/修改地址页面-->
        <activity android:name=".activity.address.add.CreateAddressActivity"
                  android:screenOrientation="portrait"/>

        <!--我的钱包页面-->
        <activity android:name=".activity.balance.MyWalletActivity"
                  android:screenOrientation="portrait"/>

        <!--我的订单-->
        <activity android:name=".activity.order.MyOrderActivity"
                  android:screenOrientation="portrait"/>

        <!--极币商城-->
        <activity android:name=".activity.mall.MallActivity"
                  android:screenOrientation="portrait"/>

        <!--极币商城详情页-->
        <activity android:name=".activity.mall.detail.MallDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--确认订单页面-->
        <activity android:name=".activity.mall.exchange.ExchangeActivity"
                  android:screenOrientation="portrait"/>

        <!--邀请好友页面-->
        <activity android:name=".activity.sign.invitation.InvitationActivity"
                  android:screenOrientation="portrait"/>

        <!--邀请好友页面2.3.0-->
        <activity android:name=".activity.sign.invitation.InvitationNewActivity"
                  android:screenOrientation="portrait"/>

        <!--查看全部试用-->
        <activity android:name=".activity.tryout.TryAllActivity"
                  android:screenOrientation="portrait"/>

        <!--查看全部试用报告-->
        <activity android:name=".activity.tryout.TryReportActivity"
                  android:screenOrientation="portrait"/>

        <!--试用详情页面-->
        <activity android:name=".activity.tryout.detail.TryDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--查看更多试用名单-->
        <activity android:name=".activity.tryout.passedMore.PassedMoreActivity"
                  android:screenOrientation="portrait"/>

        <!--查看试用品查看全部试用报告-->
        <activity android:name=".activity.tryout.reportMore.ReportMoreActivity"
                  android:screenOrientation="portrait"/>

        <!--查看更多拉赞排行页面-->
        <activity android:name=".activity.tryout.shareMore.ShareMoreActivity"
                  android:screenOrientation="portrait"/>

        <!--我的试用-->
        <activity android:name=".activity.tryout.mine.MineTrialActivity"
                  android:screenOrientation="portrait"/>

        <!--订单详情页面-->
        <activity android:name=".activity.order.detail.OrderDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--书写试用报告-->
        <activity android:name=".activity.report.create.CreateReportActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--上传封面-->
        <activity android:name=".activity.report.cover.CoverReportActivity"
                  android:screenOrientation="portrait"/>

        <!--json串的试用报告详情-->
        <activity android:name=".activity.report.detail.ReportDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--收入明细-->
        <activity android:name=".activity.balance.budget.BudgetDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--我要提现-->
        <activity android:name=".activity.balance.withdraw.WithdrawActivity"
                  android:screenOrientation="portrait"/>

        <!--团队收入-->
        <activity android:name=".activity.balance.team.TeamActivity"
                  android:screenOrientation="portrait"/>

        <!--免单购详情-->
        <activity android:name=".activity.tryout.freedetail.FreeDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--新品专区-->
        <activity android:name=".activity.home.newarea.NewAreaActivity"
                  android:screenOrientation="portrait"/>

        <!--小分类榜单-->
        <activity android:name=".activity.home.classification.ClassifyActivity"
                  android:screenOrientation="portrait"/>

        <!--小分类榜单——查看更多评测-->
        <activity android:name=".activity.home.classification.article.ArticleMoreActivity"
                  android:screenOrientation="portrait"/>

        <!--问答区-->
        <activity android:name=".activity.home.classification.questions.QuestionsActivity"
                  android:screenOrientation="portrait"/>

        <!--问答区详情-->
        <activity android:name=".activity.home.classification.questions.detail.QuestionDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--问题提交页面-->
        <activity android:name=".activity.home.classification.questions.submit.QuestionSubmitActivity"
                  android:screenOrientation="portrait"/>

        <!--百科首页-->
        <activity android:name=".activity.home.classification.encyclopedias.EncyclopediasActivity"
                  android:screenOrientation="portrait"/>

        <!--百科详情-->
        <activity android:name=".activity.home.classification.encyclopedias.detail.EncyclopediasDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--kotlin：小分类榜单——查看更多评测-->
        <activity android:name=".activity.KTArticleMoreActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：开箱评测-->
        <activity android:name=".activity.evakt.unbox.UnboxActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：对比评测-->
        <activity android:name=".activity.evakt.comparison.ComparActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：发布清单-->
        <activity android:name=".activity.evakt.send.SubmitActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：发布清单2-->
        <activity android:name=".activity.evakt.send.corve.SubmitCorveActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin: 发布清单中 添加商品页面-->
        <activity android:name=".activity.evakt.send.goods.AddGoodsActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：个人主页-->
        <activity android:name=".activity.minekt.userkt.UserActivity"
                  android:screenOrientation="portrait"/>

        <!--编辑个性签名-->
        <activity android:name=".activity.info.editsign.EditSignActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：我的发布-->
        <activity android:name=".activity.minekt.publishkt.MyPublishActivity"
                  android:screenOrientation="portrait"/>

        <!--kotlin：审核中的清单详情-->
        <activity android:name=".activity.minekt.publishkt.detail.AuditDetailActivity"
                  android:screenOrientation="portrait"/>

        <!--淘宝授权-->
        <activity android:name=".activity.web.TaoBaoWebActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>